@import "../config/global";
.todos-actions-bar{
    overflow: auto;
    }

.todos-actions-bar_counter{
    background-color: $c-white;
    border: none;
    color: $btn_font-color;
    float: left;
    margin:$offset 0 $offset $offset_half;
    }
.todos-filters{
    margin-top: $offset;
    overflow: hidden;
    margin-left: 200px;
    margin-right: 50px;
    }

.todos-actions-bar_clear-completed{
    float: right;
    margin:$offset 0 $offset $offset_half;

    }

