@import "../config/global";
.todos-title{
  font-family:$c-font;
  font-size: $fs_x-large;
  font-weight: $c-font-weight;
  color: $title_font-color;
  text-align: center;
  text-transform: lowercase;
}