$bg_color:#f5f5f5;
$c-white:#FFFFFF;
$c-gray:#a1a1a1;


$btn_font-color:#BEBEBE;
$btn_border-color:#EFE6E6;

$checkbox_border-color:#6ac7b6;

$title_font-color:rgba(175, 47, 47, .15);

$text-input_font-color:#666;
$text-input_placeholder_font-color:#ccc;

$item_border-color:#e5e5e5;
$item_hover_bg-color:#fafafa;
$item_mark_border-color:#6CC8B6;
$item_font-color:#747474;

$icon_close_color:#ebdfdf;

$c-box-shadow:0 2px 4px rgba(0, 0, 0, .2);