.todos-main {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    position: relative;
    }

.todos-main:before,
.todos-main:after {
    content: '';
    position: absolute;
    top:100%;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    z-index: -1;
    }
.todos-main:before {
    height: 10px;
    left: 4px;
    right: 4px;
    }
.todos-main:after {
    height: 5px;
    left: 2px;
    right: 2px;
    }