
.todos-actions-bar_counter {
    background-color: #FFFFFF;
    border: none;
    color: #BEBEBE;
    float: left;
    margin: 12px 0 12px 6px;
}

.todos-filters {
    margin-top: 12px;
    margin-left: 200px;
    margin-right: 50px;
    float:left;
}

.todos-actions-bar_clear-completed {
    float: right;
    margin: 12px 0 12px 6px;
}

