@import "../config/global";
.input-checkbox{
    position: relative;
    width: 40px;
    height: 40px;
    float: left;
    top:15%;
    margin-left: $offset_half;
    }

.input-checkbox_target{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    }
.input-checkbox_visual{
    position: relative;
    background: transparent;
    border: 1px solid $checkbox_border-color;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    }
.input-checkbox::after{
    content: '';
    position: absolute;
    width: 40%;
    height: 2px;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    bottom: 24%;
    left: 13%;
    background: $checkbox_border-color;

    }
.input-checkbox::before{
    content: '';
    position: absolute;
    width: 70%;
    height: 2px;
    -webkit-transform: rotate(125deg);
    -moz-transform: rotate(125deg);
    -ms-transform: rotate(125deg);
    -o-transform: rotate(125deg);
    transform: rotate(125deg);
    bottom: 39%;
    left: 30%;
    background: $checkbox_border-color;
    }