@import "../config/global";
.todos-item_close_icon{
    position: relative;



    }
.todos-item_close_icon::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 10%;
    top:50%;
    background: $icon_close_color;

    }
.todos-item_close_icon::after {
    content: '';
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 10%;
    top:50%;

    width: 20px;
    height: 4px;
    background: $icon_close_color;

    }

